# Auto detect text files and perform LF normalization
* text=auto

# Force LF
*.py text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.tsv text eol=lf
*.csv text eol=lf
*.json text eol=lf

# Binary
*.png binary
*.jpg binary
*.pdf binary
